
.component {
    min-width: 1024px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-color: rgba(83, 29, 171, 0.04);
    background: linear-gradient(45deg, #f9f0ff 0%, #e6f4ff 100%);
}

.spin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(83, 29, 171, 0.04);
    background: linear-gradient(135deg, #f9f0ff 0%, #e6f4ff 100%);
}