@value actions from "./EntityBlock/EntityBlock.module.scss";


.block {
    max-width: 1440px;
    width: 100%;
    min-width: 480px;
    display: block;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.04);
    transition: 0.1s ease all;

    &:hover .actions {
        opacity: 0.65;
    }

    &.hidden {
        display: none;
    }

}

.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
